@font-face{
    font-family: 'Bellota-BoldItalic';
    scr: url('../fonts/Bellota-BoldItalic.otf');
}
@font-face{
    font-family: 'Bellota-LightItalic';
    scr: url('../fonts/Bellota-LightItalic.otf');
}

body{
    line-height: 17px;
    background-color: azure;
}

.top_bar{
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #3498db;
    border-bottom: 5px solid #2980b9;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
}

.logo a{
    font-family: 'Bellota-BoldItalic',sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 9px;
}

a:hover{
    text-decoration: none;
}

body{
    margin: 0%;
    padding: 0%;
}

nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    border-bottom: 7px solid #e67e22;
    color: #fff;
}

wrapper{
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column{
    background-color: blue;
}